@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1open:    #07F21B;
    --cor2open:    #00941A;
    --cor3open:    #1acbf8;
    --cor4open:    #1C14FF;
    --cor5open:    #710AF5;
    --cor6open:    #FF01E5;
    --cor7open:    #F50033;
    --cor8open:    #5e2129;
    --cor9open:    #F26E07;
    --cor10open:   #FFE622;
    --cor11open:   #e7d3af;
    --cor12open:   #B5B2B2;


    --cor1closed:  #036f0cae;
    --cor2closed:  #023b0d7a;
    --cor3closed:  #00485ab2;
    --cor4closed:  #0b0779aa;
    --cor5closed:  #2d0265c4;
    --cor6closed:  #79006db2;
    --cor7closed:  #7d0920a8;
    --cor8closed:  #3d0b12b1;
    --cor9closed:  #723506ba;
    --cor10closed: #756911ae;
    --cor11closed: #534b3eb3;
    --cor12closed: #353535ae;


}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(fundo1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.clock{
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    overflow: hidden;
    
   
}
.clock-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    width: 550px;
    height: 550px;
    border-radius: 50%;
    z-index: 10;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    z-index: 3;
}

#cor1, #cor2, #cor3, #cor4, #cor5, #cor6, #cor7, #cor8, #cor9, #cor10, #cor11, #cor12{
    width: 140px;
    height: 40px;
    z-index: 2;
}
#cor1{
    background-color: var(--cor1closed);
}
#cor2{
    background-color: var(--cor2closed);
}
#cor3{
    background-color: var(--cor3open);
}
#cor4{
    background-color: var(--cor4closed);
}
#cor5{
    background-color: var(--cor5closed);
}
#cor6{
    background-color: var(--cor6closed);
}
#cor7{
    background-color: var(--cor7closed);
}
#cor8{
    background-color: var(--cor8closed);
}
#cor9{
    background-color: var(--cor9closed);
}
#cor10{
    background-color: var(--cor10closed);
}
#cor11{
    background-color: var(--cor11closed);
}
#cor12{
    background-color: var(--cor12closed);
}
