@charset "UTF-8";
@font-face {
    font-family:'glitch';
    src: url('big_noodle_titling.ttf');}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: 'glitch';}
:root{
    --cor1open:    #00ff15;
    --cor2open:    #26b640;
    --cor3open:    #1acbf8;
    --cor4open:    #1C14FF;
    --cor5open:    #8441dc;
    --cor6open:    #FF01E5;
    --cor7open:    #F50033;
    --cor8open:    #FFE622;
    --cor9open:    #F26E07;
    --cor10open:   #cfcfcf;
    --cor11open:   #ffffff;
    --cor12open:   #804000;
/*---------- cores no modo desativado------------*/
    --cor1closed:  #036f0c7d;
    --cor2closed:  #023b0d7a;
    --cor3closed:  #0d758f76;
    --cor4closed:  #0b07796d;
    --cor5closed:  #2d02657c;
    --cor6closed:  #79006d72;
    --cor7closed:  #7d092082;
    --cor8closed:  #75691186;
    --cor9closed:  #7235067f;
    --cor10closed: #3f3f3fb1;
    --cor11closed: #c1c1c182;
    --cor12closed: #8040008b;

/*----------------------- PAGINA INICIAL // HEADER APÓS A INICIAÇAO DO CLOCK -------------------------*/

}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url(img/fundo.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#dados-definidos{
    /*border: 2px solid red;*/
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#data{
    /*border: solid 3px green;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    
}
#data-txt, #hora-txt{
    width: 300px;
    font-size: 40px;
}
.container-data, .container-hora{
    text-align: center;
    color: var(--cor11open);
}
.tempo-definido{
    text-align: center;
    color: var(--cor11open);
}
.tempo-definido> h2{
    font-size: 50px;
    text-shadow: #7777774c 2px 2px 3px;
}
.tempo-definido> span{
    font-size: 50px;
    text-shadow: #7777774c 2px 2px 3px;
}
h1{
    font-size: 70px;
    color: white;
    text-shadow: 5px 5px 7px black;
    margin-top: 0px;
    font-weight: 200;
}
.dados{
    height: 150px;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 40px;
    border: solid 4px green;
}
.dados select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    font-size: 40px;
    display: inline-block;
	width: 200px;
	cursor: pointer;
  	padding: 10px 10px;
  	
  	outline: 0; 
  	border: 0;
	background: rgba(0, 0, 0, 0.341);
	color: white;
	border:2px solid rgba(0, 0, 0, 0.53);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.675);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);
    position: relative;
    transition: 0,3s;
    opacity: 60%;
  
}
.dados select:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.267);
    transform: translate(1px);
}
.dados > select::-ms-expand {
    display: block;
    color: white;
    
}
.start{
    background-color: rgba(0, 0, 0, 0.341);
    color: white;
    width: 200px;
    padding: 10px;
    border: none;
    opacity: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.275);
    transition: 0,3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);
    font-size: 40px;
    cursor: pointer;
}
.start:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.267);
    transform: translate(1px, 1px);
    
}.title{
    font-size: 140px;
    font-weight: 200;
    color: orange;
    padding: 30px;
    border: solid blue 3px;
    height: 400px;

}

option{
    text-align: center;
    
}
.totaltreino{
    text-align: center;
}
.totaltreino> span{
    color: var(--cor10open);
    font-size: 50px;
    text-shadow: #7777774c 2px 2px 3px;
}
.totaltreino> h2{
    color: var(--cor10open);
    font-size: 50px;
    text-shadow: #7777774c 2px 2px 3px;
}


/*----------------------- CORPO E CLOCK -------------------------*/


.corpo{
    width: 100vw;
    border: solid yellow 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.clock{
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align-last: center;
    overflow: hidden;
   
}
.clock-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.511);
    width: 540px;
    height: 540px;
    border-radius: 50%;
    z-index: 10;
}
.clock-center-center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.341);
    opacity: 50%;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 12;
}
.png-1{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/repollo.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-2{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/arbol.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-3{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/las-olas-del-mar.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-4{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/chaqueta-de-mezclilla.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-5{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/uvas.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-6{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/cosmos-rosa.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-7{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/pastillas.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-8{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/oro.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-9{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/sombrero-de-vaquero.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-10{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/ferramenta.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-11{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/nieve.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}
.png-12{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(img/cafe.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 80%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 13;
}

#q1, #q2, #q3, #q4, #q5, #q6, #q7, #q8, #q9, #q10, #q11, #q12{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 24px;
    z-index: 3;
    }
#cor1, #cor2, #cor3, #cor4, #cor5, #cor6, #cor7, #cor8, #cor9, #cor10, #cor11, #cor12{
    width: 140px;
    height: 40px;
    z-index: 2;
}
#cor1{
    background-color: var(--cor1closed);
}
#cor2{
    background-color: var(--cor2closed);
}
#cor3{
    background-color: var(--cor3closed);
}
#cor4{
    background-color: var(--cor4closed);
}
#cor5{
    background-color: var(--cor5closed);
}
#cor6{
    background-color: var(--cor6closed);
}
#cor7{
    background-color: var(--cor7closed);
}
#cor8{
    background-color: var(--cor8closed);
}
#cor9{
    background-color: var(--cor9closed);
}
#cor10{
    background-color: var(--cor10closed);
}
#cor11{
    background-color: var(--cor11closed);
}
#cor12{
    background-color: var(--cor12closed);
}
/*----------------------- OPERADORES -------------------------*/
.operadores{
    width: 100vw;
    height: 100px;
    border: red solid 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#botaopausa{
    color: var(--cor11open);
    height: 60px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.341);
    padding: 10px;
    border: none;
    opacity: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.275);
    transition: 0,3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);
    font-size: 40px;
}
#botaopausa:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.267);
    transform: translate(1px, 1px);
}
#continuar{

}
.operadores> a{
    text-align: center;
    justify-content: center;
}
#voltar{
    height: 60px;
    width: 200px;
    color: var(--cor11open);
    background-color: rgba(0, 0, 0, 0.341);
    padding: 10px;
    border: none;
    opacity: 60%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.275);
    transition: 0,3s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.587);
    font-size: 40px;
}
#voltar:hover{
    opacity: 100%;
    transition: 0.3s;
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.267);
    transform: translate(1px, 1px);
}


/*----------------------- FOOTER -------------------------*/

#myvideo{
    display: none;
    height: 1px;
}
footer{
    font-size: 20px;
    color: gray;
    text-shadow: 2px 2px 2px black;
    padding: 10px;
}



/*---------------------------------------MEDIA QUERY TELAS GIGANTES ---------------------------------*/
@media (min-width: 1450px){
    #temp-def-sup{
        display: none;
    }
}